<%- include('parts/head') %>

<body class="sub_page">

  <div class="hero_area">
    <%- include('parts/header_section') %>
  </div>

  <!-- about section -->

  <section class="about_section py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Můj <span>Příběh</span>
              </h2>
            </div>
            <p>
              Vše začalo v šesti letech, kdy mi diagnostikovali skoliózu. Nechápala jsem, co to znamená, ale musela jsem cvičit. I když mě to nebavilo, táta mě motivoval. Později jsem navštívila Lázně Bělohrad, což pomohlo, ale bolesti hlavy zůstaly. V deváté třídě mi ortoped opět potvrdil skoliózu, takže jsem místo lázní zvolila zdravotní plavání.
            </p>
            <p>
              V prvním ročníku gymnázia mě bedra bolela natolik, že jsem po ránu nemohla chodit. Radiolog zjistil, že mám mírnou skoliózu a sakralizaci L5. Bylo mi řečeno, že musím cvičit denně, jinak mě budou bolet záda. Po dalších rehabilitacích jsem se rozhodla, že si budu pomáhat sama, a v 16 letech jsem se rozhodla stát fyzioterapeutkou. Začala jsem si všímat správného držení těla a vztah ke sportu mě utvrdil, že jdu správným směrem.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Sportovní <span>Cesta</span>
              </h2>
            </div>
            <p>
              Ačkoli jsem vyrůstala ve sportovně založené rodině, trvalo mi až do puberty, než jsem objevila kouzlo sportu. Nejprve to byl basketbal, poté volejbal, plavání a běh. Běh mě pohltil a nesprávnou technikou způsobil další bolesti pohybového aparátu. Nyní se snažím nepřetěžovat jednostranně a využít všechny možnosti, které máme. Každý sport přináší něco výjimečného a člověk poznává své tělo jinak. Nejraději běhám, lezu, plavu, cvičím jógu a jezdím na kole. Svým klientům nejčastěji doporučuji chůzi a jógu.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                <span> Vzdělání a Profesní Růst</span>
              </h2>
            </div>
            <p>
              Vystudovala jsem na Fakultě biomedicínského inženýrství v Kladně pod ČVUT v Praze bakalářský obor Fyzioterapie. Dále jsem pokračovala inženýrským oborem Systémová integrace procesů ve zdravotnictví. Po dokončení studia na vysoké škole stále navštěvuji odborné kurzy, které mě přiučí něčemu novému a nakopnou do další práce. Chápu je jako nezbytné pro seberealizaci a zkvalitnění péče o mé klienty.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="courses_section py-5">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Kvalifikace</h2>
      </div>
      <div class="qualification_list">
        <ul>
          <li><strong>2012</strong></li>
          <ul>
            <li>Flexi-bar Basic, AC Fitness Academy, Farot s.r.o.</li>
            <li>Manuální lymfodrenáž mimo oblast zdravotnictví, Mezinárodní akreditace, www.dexter-academy.cz</li>
          </ul>
          <li><strong>2013</strong></li>
          <ul>
            <li>Aromaterapie I., Edu Spa College, www.eduspa.cz</li>
            <li>Kinesiotaping, lektor: Andrea Ryšávková, Dexter Academy</li>
          </ul>
          <li><strong>2014</strong></li>
          <ul>
            <li>Fyzioterapeutické vyšetření sportovců, ČSTL</li>
          </ul>
          <li><strong>2015</strong></li>
          <ul>
            <li>Nespecifické mobilizace, lektor: Zdena Jebavá, Buď Fit</li>
            <li>Možnosti terapie funkčních poruch ramenního kloubu dle konceptu BPP, lektor: Jarmila Čápová, Tomáš Debowski, Jimramov</li>
            <li>SM systém kurz 1A, 1B ZÁKLADNÍ CVIKY, lektor: Richard Smíšek</li>
          </ul>
          <li><strong>2016</strong></li>
          <ul>
            <li>Komplexní terapie ramene, vedoucí kurzu: Tomáš Dvořák, Monada</li>
            <li>Reflexní terapie, lektor: Josef Vrba, Škola přírodní medicíny</li>
            <li>SM systém kurz 1C, 1D ZÁKLADNÍ CVIKY, lektor: Richard Smíšek</li>
            <li>Komplexní terapie bederní páteře a pánevního pletence, vedoucí kurzu: Tomáš Dvořák, Monada</li>
            <li>Rehabilitační léčba některých druhů funkční ženské sterility metodou L. Mojžíšové, část A: Mobilizace žeber metodou L. Mojžíšové, lektor: Jana Jedličková, FC Rehamil</li>
            <li>SM systém kurz 5A, 5B SKOLIOSA, lektor: Richard Smíšek</li>
          </ul>
          <li><strong>2017</strong></li>
          <ul>
            <li>Fyzioterapie po úrazech ve sportu, lektor: Loïc Paris, Rehaspring centrum s.r.o.</li>
            <li>Rehabilitační léčba některých druhů funkční ženské sterility metodou L. Mojžíšové, část B: Ošetření svaloviny pánevního dna metodou L. Mojžíšové, lektor: Jana Jedličková, FC Rehamil</li>
            <li>Orofaciální oblast v komplexní terapii, vedoucí kurzu: Markéta Musilová, Monada</li>
            <li>Fyzioterapie v akci - temporomandibulární kloub, lektor: Jitka Malá, FC Rehamil</li>
            <li>Viscerovertebrální vztahy a jejich využití v klinické praxi, lektor Mgr. Petr Bitnar, REHABILITACE BITNAR Kladno</li>
            <li>BLACKROOL Trainer - Vzdělání podle standardů BLACKROOL AG, lektor: Bc. Miroslav Beránek</li>
          </ul>
          <li><strong>2018</strong></li>
          <ul>
            <li>Hluboký stabilizační systém páteře, lektor Mgr. Petr Bitnar, REHABILITACE BITNAR Kladno</li>
            <li>Komplexní terapie triggerpointů a globální reciproční svalová inhibice, lektor Mgr. Petr Bitnar, REHABILITACE BITNAR Kladno</li>
          </ul>
          <li><strong>2023</strong></li>
          <ul>
            <li>Podoskop - Vyšetření a klinická interpretace<span class="d-none d-lg-inline">, Fyzio Beskyd s.r.o</span></li>
            <li>Seminář Formthotics Systém - individuální úprava stélek na základě vyšetření<span class="d-none d-lg-inline">, MUDr. Karel Mašek</span></li>
            <li>Úvod do fyzioterapie fasciálních tkání<span class="d-none d-lg-inline">, Mgr. Jakub Novák, Ph.D.</span></li>
            <li>Dynamická neuromuskulární stabilizace (DNS) podle Koláře<span class="d-none d-lg-inline">, Mgr. Eliška Urbářová, Mgr. Jiří Halámka</span></li>
          </ul>
          <li><strong>2024</strong></li>
          <ul>
            <li>Instruktor Zdravotní tělesné výchovy<span class="d-none d-lg-inline">, Yoga4Yogi s.r.o.</span></li>
          </ul>
        </ul>
      </div>
    </div>
  </section>
  

  <!-- end about section -->

  <%- include('parts/footer') %>

</body>

</html>